@import "tailwindcss";

@theme {
  --color-green-teal: #0ab463;

  --font-family-sans: "Montserrat", sans-serif;
}

/* Global CSS Reset and Base Styles */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
